@{
    ViewBag.Title = "Articles";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
  <div class="col-md-12">
    @foreach (var article in ViewBag.Article)
    {
      <div class="col-md-7">

        <a href="@article.Key">@article.Key</a>
                    
      </div>

      <div class="col-md-5">
        <p>
          @article.Value
        </p>
      </div>
    }
  </div>
</div>



