@{
    ViewBag.Title = "Blogs";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="col-md-12">
        @foreach (var blog in ViewBag.Blogs)
        {
            <div class="col-md-7">

                <a href="@blog.Key">@blog.Key</a>
                    
            </div>

            <div class="col-md-5">
                <p>
                    @blog.Value
                </p>
            </div>
        }
    </div>
</div>